parameters:
    ignoreErrors:
        -
            message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:byFilledInValues\\(\\)\\.$#"
            count: 1
            path: src/Filament/Resources/TranslatableStringResource.php
        -
            message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:byOneEmptyValue\\(\\)\\.$#"
            count: 1
            path: src/Filament/Resources/TranslatableStringResource.php
